<% content_for :title, "Showing project" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing project</h1>

  <%= render @project %>

  <p class="my-3">
    <strong class="font-medium mb-1">Start date:</strong>
    <%= @project.start_date %>
  </p>
  <p class="my-3">
    <strong class="font-medium mb-1">End date:</strong>
    <%= @project.end_date %>
  </p>
  <p class="my-3">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= @project.description.truncate(100) %>
  </p>

  <% if @project.users.count > 0 %>
    <strong class="block font-medium mb-1">Members:</strong>
    <% @project.users.each_with_index do |user, index| %>
      <p class="my-3">
        <%= "#{index+1}. #{user.email_address}" %>
      </p>
    <% end %>
  <% end %>

  <%= link_to "Edit this project", edit_project_path(@project), class: "mt-2 rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 inline-block font-medium text-gray-100" %>

  <%= link_to "New Comment", new_project_comment_path(@project), class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 inline-block font-medium text-gray-100" %>
  <%= link_to "Show All Comments", project_comments_path(@project), class: "rounded-md px-3.5 py-2.5 bg-gray-300 hover:bg-gray-200 inline-block font-medium" %>

  <div class="inline-block">
    <%= button_to "Delete this project", @project, method: :delete, class: "mt-2 rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium" %>
  </div>

  <% if @project.project_conversation_histories.present? %>
    <div class="text-center">
      <h2 class="text-4xl font-semibold text-gray-800 my-10">Conversation History (Latest First)</h2>

      <% @project.project_conversation_histories.reverse.each do |project_conv_history| %>
        <%= render "project_conversation_history/show", history: project_conv_history %>
      <% end %>
    </div>
  <% end %>
</div>
