<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Homey Project Conversation History" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="fixed top-0 left-0 w-full bg-gray-100 py-4 z-50">
      <div class="container mx-auto px-5 flex justify-between items-center hover:text-gray-600">
        <%= link_to "Homey Project", root_path, class: "text-xl font-bold" %>
        <% if Current.user %>
          <%= button_to "Logout", session_path, method: :delete,
              class: "rounded-md px-3.5 py-2.5 bg-red-600 hover:bg-red-500 text-white font-medium" %>
        <% end %>
      </div>
    </header>
    <main class="container mt-28 mx-auto flex justify-between">
      <%= yield %>
    </main>
  </body>
</html>
